<!--3. Компоненты в деталях-->
<app-components-in-detail></app-components-in-detail>
<!--3. Компоненты в деталях-->
<!--2. Основы и синтаксис-->
<!--<hr />-->
<!--<app-pipes></app-pipes>-->
<!--<hr />-->
<!--<app-ng-for></app-ng-for>-->
<!--<hr />-->
<!--<app-ng-switch></app-ng-switch>-->
<!--<hr />-->
<!--<app-if-else></app-if-else>-->
<!--<hr />-->
<!--<app-ng-class></app-ng-class>-->
<!--<hr />-->
<!--<app-ng-style></app-ng-style>-->
<!--<hr />-->
<!--<app-two-way-binding></app-two-way-binding>-->
<!--<hr />-->
<!--<app-start></app-start>-->
<!--<hr />-->
<!--<app-post></app-post>-->
<!--<hr />-->
<!--<app-post4></app-post4>-->
<!--2. Основы и синтаксис-->
